body{
  background: #282e3a;
  font-family: cursive;
  color: #ddd;
}
.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    padding-top: 60px;
}

.menu-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.3s;
}

.sidenav a img{
    display: block;
    transition: 0.3s;
}

.tw-logo {
  padding: 0px 0px 2px 75px;
  height: 2em;
  width: 50%;
}

.vodqa-logo {
  padding: 2px 8px 8px 40px;
  height: 6em;
  width: 75%;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    margin-left: 25%;
    padding: 16px;
    padding-top: 0px;
}

hr {
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

h1{
  color: #ababab;
  text-align: center;
  font-size: 74px;
  letter-spacing: 10px;
  padding-top: 50px;
  font-family: cursive;
}
#del-countdown{
  width: 850px;
  margin: 15% auto;
}
#clock span{
  float: left;
  text-align: center;
  font-size: 84px;
  margin: 0 2.5%;
  color: #000;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-sizing: border-box;
}
#clock span:nth-child(1){
  background: #fff;
}
#clock span:nth-child(2){
  background: #fff;
}
#clock span:nth-child(3){
  background: #fff;
}
#clock span:nth-child(4){
  background: #fff;
}
#clock:after{
  content: "";
  display: block;
  clear: both;
}
#units span{
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  color: #818181;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}

span.turn{
  animation: turn 0.7s ease forwards;
}

@keyframes turn{
  0%{transform: rotateX(0deg)}
  100%{transform: rotateX(360deg)}
}
footer{
  text-align: center;
}
p{
  color: #f5deb3;
}
p >a{
  color: #ffffff;
}

.about{
  font-style: italic;
  font-family: cursive;
  top: 20%;
  position: absolute;
  font-size: 2.5em;
}

#present {
  width: 400px;
  height: 100px;
  display: inline-block;
  background: #24ac5c;
  font-family: cursive;
  border-radius: 10px;
  margin-left: 100px;
  text-decoration: black line-through;
}

#container >a {
  text-decoration: none;
  color: inherit;
}
#participate{
  width: 400px;
  height: 100px;
  display: inline-block;
  background: #24ac5c;
  font-family: cursive;
  border-radius: 10px;
  margin-right: 100px;
  cursor: pointer;
}
#container{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: -webkit-xxx-large;
    color: #fffaf0;
    margin-top: -50px;
}

.slideshow-container {
  position: relative;
  border-radius: 10px;
  margin: auto;
  height: 400px;
  background-color: rgba(34, 34, 34, 0.5);
}

.mySlides {
    display: none;
    text-align: center;
    color: #f2f2f2;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.speaker{
  border-radius: 50%;
  height: 100px
}
.talk-abstract{
  margin: auto;
  padding: 40px;
}
.talk-title{
    font-size: -webkit-xxx-large;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
#participate:hover {
  animation: bounce 1s;
}

.location{
  text-align: center;
  padding-top:15%;
}
