<div id="mySidenav" class="sidenav">
  <a href="https://www.thoughtworks.com" target="_blank">
    <img class="tw-logo" src="{{ "./img/tw-logo.png" | prepend: page.baseurl }}" alt="thoughtworks"/>
  </a>
  <a href="{{site.baseurl}}/">
    <img class="vodqa-logo" src="{{ "./img/Vodqa-white.png" | prepend: page.baseurl }}" alt="VodQA"/>
  </a>
  <hr>
  <div class="menu-bar">
    <a href="{{site.baseurl}}/agenda">Agenda</a>
    <a href="{{site.baseurl}}/what">What?</a>
    <!-- <a href="#">Who are we?</a> -->
    <a href="{{site.baseurl}}/where">Where?</a>
    <!-- <a href="#">Contact Us</a> -->
    <div id="copyright">
      <time datetime="2017-10-11" class="icon">
        <em>Wednesday</em>
        <strong>October</strong>
        <span>11</span>
      </time>
    </div>
  </div>

</div>
