<div id="mySidenav" class="sidenav">
  <a href="https://www.thoughtworks.com" target="_blank">
    <img class="tw-logo" src="{{ "./img/tw-logo.png" | prepend: page.baseurl }}" alt="thoughtworks"/>
  </a>
  <a href="#">
    <img class="vodqa-logo" src="{{ "./img/Vodqa-white.png" | prepend: page.baseurl }}" alt="VodQA"/>
  </a>
  <hr>
  <div class="menu-bar">
    <a href="#">Who are we?</a>
    <a href="{{ site.url }}/what">What?</a>
    <a href="{{ site.url }}/when">When?</a>
    <a href="#">Where?</a>
    <a href="#">Contact Us</a>
  </div>
</div>
