<div class="agenda">
  <h1> {{ page.theme }} </h1>
</div>


<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'talk1')" id="defaultOpen">06:00 PM</button>
  <button class="tablinks" onclick="openTab(event, 'talk2')">07:30PM</button>
  <button class="tablinks" onclick="openTab(event, 'talk3')">07:45PM</button>
</div>

<div id="talk1" class="tabcontent mySlides">
  <div class ="talk-title">Agile Game</div>
  <img class = "speaker" src="{{ "./img/JayaSingla.jpg" | prepend: page.baseurl }}">
    <div class="speaker-name">
      Jaya Singla
    </div>
  <div class = "talk-abstract">
    Hat making in a agile way<br/>
    This will be an interesting game where you make paper hats and get some hands on exposure on the agile way of working...
  </div>
</div>

<div id="talk2" class="tabcontent mySlides">
  <div class ="talk-title">QA in Agile environment</div>
  <div class = "talk-details">
  <div class ="speaker-details">
  <img class = "speaker" src="{{ "./img/IkaBelerma.jpg" | prepend: page.baseurl }}">
    <div class="speaker-name">
      Ika Belerma
    </div>
  </div>
  <div class = "talk-abstract">
    Quick talk on what I think the main difference between testers working in an agile and traditional environment.
  </div>
</div>
</div>

<div id="talk3" class="tabcontent mySlides">
  <div class ="talk-title">Networking and dinner</div>
</div>


<script src="{{ "./js/slider.js" | prepend: page.baseurl }}"></script>
