<div id="del-countdown">
      <div id="clock"></div>
      <div id="units">
        <span>Days</span>
        <span>Hours</span>
        <span>Minutes</span>
        <span>Seconds</span>
      </div>
      <h1>to go ...</h1>
    </div>
    <script src="{{ "./js/countdown.js" | prepend: page.baseurl }}"></script>
    <div id="container">
    <a href="https://docs.google.com/a/thoughtworks.com/forms/d/1g6vI5NfVMuicAEFof45sqr0Fnxlcgiw3MlAbzDQeUFs/viewform?edit_requested=true">
        <div type="button" id="participate" >Participate</div>
    </a>
    <div type="button" id="present">Present<span></span></div>
</div>
